[run]
source = .
omit =
    */migrations/*
    */tests.py
    */test_*.py
    */__pycache__/*
    */venv/*
    */virtualenv/*
    manage.py
    embassy_backend/wsgi.py
    embassy_backend/asgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod

